# Configuration
.env

# Composer managed dependencies
composer.lock
vendor
wp
!public/wp
wp-plugins
### we'll manage .gitignore within wp-themes so we can save default theme
# wp-themes

# System files
.DS_Store

